<div class='navigation'>

    <h1> Where do you want to go? </h1>

    <div>
        <input class="btn btn-primary" 
               (click)="tickets()"
               type="submit" 
               value="View past tickets"
        >
    </div>

    <div>
        <input class="btn btn-primary"
               (click)="request()"
               type="submit" 
               value="Add new reimbursement"
        >
    </div>

    <div>
        <input *ngIf = "admin"
               class="btn btn-primary"
               (click) = "requests()"
               type="submit" 
               value="View all reimbursements"
        >
    </div>

    <div>
        <input (click)="logout()"
                class="btn btn-primary"
                type="submit" 
                value="Log Out"
        >
    </div>

</div>