<div class = "container text-center">

    <h1 class="heading">View All Requests</h1>

    <div id="requests-table">
        <ul class="request-headings">
            <span class='req-category'> Name </span>
            <span class='req-category'> Type </span>
            <span class='req-category'> Amount </span>
            <span class='req-category'> Description </span>
            <span class='req-category'> Date Requested </span>
        </ul>

        <ol class="requests">
            <li *ngFor="let request of requests">
                <span> {{ request.reimb_author }} </span>
                <span> {{ request.type }} </span>
                <span> ${{ request.amount }} </span>
                <span> {{ request.description }} </span>
                <span> {{ request.submit }} </span>

                <button (click) = "approve()"> Approve </button>
                <button (click) = "deny()"> Deny </button>
            </li>
        </ol>
    </div>

    <button (click) = "sortByStatus()"> Sort By Status </button>
    <button (click) = "sortByAmount()"> Sort By Amount </button>
    <button (click) = "sortByName()"> Sort By Employee Name </button>
    <button (click) = "sortByDate()"> Sort By Request Date </button>

</div>