<button class = "btn" (click) = "back()"> ← Return To Menu</button>

<div class = "text-center">

    <h1 class="heading">View All Requests</h1>

    <button (click) = "sortByProperty('status')" class="btn-sm"> Sort By Status </button>
    <button (click) = "sortByProperty('amount')" class="btn-sm"> Sort By Amount </button>
    <button (click) = "sortByProperty('author')" class="btn-sm"> Sort By Employee Name </button>
    <button (click) = "sortByProperty('date')"   class="btn-sm"> Sort By Request Date </button>

    <table class="table request-table">
        <thead>
            <tr>
                <th scope="col"> # </th>
                <th scope="col"> Name </th>
                <th scope="col"> Type </th>
                <th scope="col"> Amount </th>
                <th scope="col"> Description </th>
                <th scope="col"> Date Requested </th>
                <th scope="col"> Status </th>
            </tr>
        </thead>

        <tbody class="requests text-center">
            <tr *ngFor="let request of requests; let i = index">
                <th> {{ i + 1 }}. </th>
                <th> {{ request.author | FirstName}} </th>
                <td> {{ request.type | statusOrTypeName: 'type' }} </td>
                <td> ${{ request.amount }} </td>
                <td> {{ request.description }} </td>
                <td> {{ request.submit | date }} </td>
                <td> {{ request.status | statusOrTypeName: 'status' }} </td>

                <div *ngIf="request.status === 3">
                    <button class="btn-sm" type="button" (click) = "approve(request.reimb_id, 1)"> Approve </button>
                    <button class="btn-sm" type="button" (click) = "deny(request.reimb_id, 2)"> Deny </button>
                </div>
              
            </tr>
        </tbody>
    </table>

</div>