<h1>PAST TICKETS</h1>

<div>
    <table>
        <col />
        <col span="2" />
        <tr>
            <td>ID</td>
            <td>AMOUNT</td>
            <td>SUBMITTED</td>
            <td>RESOLVED</td>
            <td>DESCRIPTION</td>
            <td>RECIPT</td>
            <td>AUTHOR</td>
            <td>RESOLVER</td>
            <td>STATUS</td>
            <td>TYPE</td>
        </tr>
        <tr *ngFor = "let t of ticket">
            <td>{{t.reimb_id}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.submit}}</td>
            <td>{{t.resolve}}</td>
            <td>{{t.description}}</td>
            <td>{{t.pic}}</td>
            <td>{{t.author}}</td>
            <td>{{t.resolver}}</td>
            <td>{{t.status}}</td>
            <td>{{t.type}}</td>
        </tr>
        </table>
</div>