<button class = "btn" (click) = "back()"> ← Return To Menu </button>

<div class="container text-center">

    <h1 class="heading">Your Tickets</h1>

    <table class="table request-table">
        <thead>
            <tr>
                <th> # </th>
                <th> Amount </th>
                <th> Submitted </th>
                <th> Resolved </th>
                <th> Description </th>
                <th> Receipt </th>
                <th> Author </th>
                <th> Resolver </th>
                <th> Status </th>
                <th> Type </th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr *ngFor = "let ticket of tickets; let idx = index">
                <td> {{ idx + 1 }} </td>
                <td> ${{ ticket.amount }} </td>
                <td> {{ ticket.submit | date }} </td>
                <td> {{ ticket.resolve | date }} </td>
                <td> {{ ticket.description }} </td>
                <td> {{ ticket.pic }} </td>
                <td> {{ ticket.author }} </td>
                <td> {{ ticket.resolver }} </td>
                <td> {{ ticket.status | statusOrTypeName : 'status' }} </td>
                <td> {{ ticket.type | statusOrTypeName : 'type' }} </td>
            </tr>
        </tbody>
    </table>
</div>