<button class = "btn" (click) = "back()"> ← Return To Menu</button>

<div class="text-center">

    <h1 class="heading">Your Tickets</h1>

    <table class="table request-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>AMOUNT</th>
                <th>SUBMITTED</th>
                <th>RESOLVED</th>
                <th>DESCRIPTION</th>
                <th>RECEIPT</th>
                <th>AUTHOR</th>
                <th>RESOLVER</th>
                <th>STATUS</th>
                <th>TYPE</th>
            </tr>
        </thead>

        <tr *ngFor = "let t of ticket">
            <td>{{t.reimb_id}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.submit}}</td>
            <td>{{t.resolve}}</td>
            <td>{{t.description}}</td>
            <td>{{t.pic}}</td>
            <td>{{t.author}}</td>
            <td>{{t.resolver}}</td>
            <td>{{t.status}}</td>
            <td>{{t.type}}</td>
        </tr>
    </table>
</div>