<section>
        <title>Login Page</title>

        <h1>welcome</h1>
        <table>
            <div>
                <tr>
                <td><label>Username</label></td>
                <td><input 
                    [(ngModel)] = "inputUsername"
                    type="text" name="username"></td>
                </tr>
            </div>
            <div>   
                <tr>
                <td><label>Password</label></td>
                <td><input
                    [(ngModel)] = "inputPassword"
                     type="password" name="password"></td>
                </tr>
            </div>
            <div>
                <tr>
                    <div *ngIf="invalidInput">
                        Incorrect Username/Password combination!
                    </div>
                    <td><input
                        (click)="submit()" 
                        type="submit" value="Submit"></td>
                </tr>
            </div>
        </table>
        
</section>
