<h1>Request Form</h1>

<form action="/request">
    Amount: $
    <input
    [(ngModel)]="amount"
    type="number" step="0.01" name="amount">
    <br>
    Type: <br>
    <input class="request-type"
    [(ngModel)]="type"
    type="radio" name="type" value="1"> LODGING <br>
    <input class="request-type"
    [(ngModel)]="type"
    type="radio" name="type" value="2"> TRAVEL <br>
    <input class="request-type"
    [(ngModel)]="type"
    type="radio" name="type" value="3"> FOOD <br>
    <input class="request-type"
    [(ngModel)]="type"
    type="radio" name="type" value="4"> OTHER <br>
    Description: <br>
    <input class="input"
    [(ngModel)]="description"
    type="text" name="description" maxlength="25">
    <br>
    Upload Recipt: <br>
    <input
    [(ngModel)]="picture" 
    type="file" name="myRecipt"> <br>
    <input class='submit'
    (click) = "submit()" 
    type="submit"> <br>
</form>

