<h1>REQUEST FORM</h1>

<form action="/request">
    Amount:
    <input type="text" name="firstname">
    <br>
    Type: <br>
    <input type="radio" name="type" value="travel"> TRAVEL <br>
    <input type="radio" name="type" value="food"> FOOD <br>
    <input type="radio" name="type" value="lodge"> LODGE <br>
    <input type="radio" name="type" value="other"> OTHER <br>
    Description: <br>
    <input type="text" name="description" maxlength="25">
    <br>
    Upload Recipt: <br>
    <input type="file" name="myRecipt"> <br>
    <input type="submit"> <br>
</form>

