<h1>REQUEST FORM</h1>

<form action="/request">
    Amount:
    <input
    [(ngModel)]="amount"
    type="text" name="amount">
    <br>
    Type: <br>
    <input 
    [(ngModel)]="type"
    type="radio" name="type" value="3"> TRAVEL <br>
    <input 
    [(ngModel)]="type"
    type="radio" name="type" value="2"> FOOD <br>
    <input 
    [(ngModel)]="type"
    type="radio" name="type" value="1"> LODGE <br>
    <input 
    [(ngModel)]="type"
    type="radio" name="type" value="4"> OTHER <br>
    Description: <br>
    <input 
    [(ngModel)]="description"
    type="text" name="description" maxlength="25">
    <br>
    Upload Recipt: <br>
    <input
    [(ngModel)]="picture" 
    type="file" name="myRecipt"> <br>
    <input
    (click) = "submit()" 
    type="submit"> <br>
</form>

