h1{
    text-align: center;
}

form{
    /* text-align: center; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    /* color:purple; */
    background-color: orangered;
    padding: 25px;
    margin: 20%;
}

.request-type, .input {
    margin-top: 1em;
}